h1{ 
    color: black
 }
 img{
     width: 400px 
 }
 #thirdDiv{
     width: 500px;
     height:600px;
     background-color:lightcoral ;
     padding: 50px;
     border: 10px solid black
 }
 #spanId{
     font-size: 18px; 
     margin: 50px; 
 }
 body{
     background-color: grey;
 }